/.env
/.env.*
!/.env.example
!/.env.docker.example
/vendor/
/node_modules/
/public/build/
/public/hot
/public/storage
/.phpunit.cache/
/.phpunit.result.cache
/.pint.cache
/npm-debug.log*
/composer.phar
/.idea/
/.vscode/
/auth.json
*.pem
*.key
/storage/app/**
/storage/logs/*.log
*.dump
*.backup
*.sql
*.sql.gz
/database/*.sqlite*
/database/data/
/postgres-data/
