/.env
/.env.*
!/.env.example
/vendor/
/node_modules/
/public/build/
/public/hot
/public/storage
/.phpunit.cache/
/.phpunit.result.cache
/npm-debug.log*
/composer.phar
/.idea/
/.vscode/
/auth.json
*.pem
*.key
/storage/app/**
/storage/logs/*.log
